<div>
    <div class="card">
        <div class="card-header">
            Email Reply
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    <%= reply %>
                </p>
            </blockquote>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <b>Sentiment:</b>
                <% if (categorization.sentiment==='Positive' ) { %>
                    <span class="badge bg-success">
                        <%= categorization.sentiment %>
                    </span>
                    <% } else if (categorization.sentiment==='Negative' ) { %>
                        <span class="badge bg-danger">
                            <%= categorization.sentiment %>
                        </span>
                        <% } else { %>
                            <span class="badge bg-secondary">
                                <%= categorization.sentiment %>
                            </span>
                            <% } %>

            </div>
            <div class="col">
                <b>Intent:</b> <span class="badge bg-primary">
                    <%= categorization.intent %>
                </span>
            </div>
            <div class="col">
                <b>Area:</b> <span class="badge bg-primary">
                    <%= categorization.area %>
                </span>
            </div>
        </div>
    </div>

</div>